<div class="container">
  <div class="jumbotron">
    <h3>Conversor de Moedas</h3>
  </div>
  
  <form action="/converte/" method="get">
    <input type="text" placeholder="valor" name="valor" value=<%= params[:valor] %>>
    <select name="de">
      <option value="USD">USD</option>
<option value="JPY">JPY</option>
<option value="BGN">BGN</option>
<option value="CZK">CZK</option>
<option value="DKK">DKK</option>
<option value="GBP">GBP</option>
<option value="HUF">HUF</option>
<option value="LTL">LTL</option>
<option value="PLN">PLN</option>
<option value="RON">RON</option>
<option value="SEK">SEK</option>
<option value="CHF">CHF</option>
<option value="NOK">NOK</option>
<option value="HRK">HRK</option>
<option value="RUB">RUB</option>
<option value="TRY">TRY</option>
<option value="AUD">AUD</option>
<option value="BRL">BRL</option>
<option value="CAD">CAD</option>
<option value="CNY">CNY</option>
<option value="HKD">HKD</option>
<option value="IDR">IDR</option>
<option value="ILS">ILS</option>
<option value="INR">INR</option>
<option value="KRW">KRW</option>
<option value="MXN">MXN</option>
<option value="MYR">MYR</option>
<option value="NZD">NZD</option>
<option value="PHP">PHP</option>
<option value="SGD">SGD</option>
<option value="THB">THB</option>
<option value="ZAR">ZAR</option>
<option value="EUR">EUR</option>
</select> para
    <select name="para">
<option value="USD">USD</option>
<option value="JPY">JPY</option>
<option value="BGN">BGN</option>
<option value="CZK">CZK</option>
<option value="DKK">DKK</option>
<option value="GBP">GBP</option>
<option value="HUF">HUF</option>
<option value="LTL">LTL</option>
<option value="PLN">PLN</option>
<option value="RON">RON</option>
<option value="SEK">SEK</option>
<option value="CHF">CHF</option>
<option value="NOK">NOK</option>
<option value="HRK">HRK</option>
<option value="RUB">RUB</option>
<option value="TRY">TRY</option>
<option value="AUD">AUD</option>
<option value="BRL">BRL</option>
<option value="CAD">CAD</option>
<option value="CNY">CNY</option>
<option value="HKD">HKD</option>
<option value="IDR">IDR</option>
<option value="ILS">ILS</option>
<option value="INR">INR</option>
<option value="KRW">KRW</option>
<option value="MXN">MXN</option>
<option value="MYR">MYR</option>
<option value="NZD">NZD</option>
<option value="PHP">PHP</option>
<option value="SGD">SGD</option>
<option value="THB">THB</option>
<option value="ZAR">ZAR</option>
<option value="EUR">EUR</option>
</select>
    <input type="submit" value="Converter">
  </form>
  
  <% if @result %>
    <h3>Resultado</h3>
    <ul>
      <% @result.each do |k, v| %>
      <li class=<%= params[:para] == k ? "active" : "" %>><%= params[:valor] %> <%= params[:de] %> = <%= v %> <%= k %></li>
      <% end %>
    </ul>
  <% end %>
  
  <p>Ex: 0.34 de dólar para euro</p>
</div>